.widget{
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
}

.grid-container{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
}

.grid-container .header{
    grid-column: 1 / -1;
    overflow: hidden;
    background-color: lightslategray;
    padding: 20px 10px;
    text-align: left;
}

.widget-display-laptops{
    background-color: seashell;
    text-align: center;
    border: 1px solid grey;
    grid-column: 1 / -1;
    margin: 10px;
    padding: 10px;
}

#bankButton{
    margin: 3px;
    background-color: yellow; 
    border-radius: 8px;
    width: 80%;
    height: 35px;
}

#workButton{
    margin: 3px;
    background-color: cyan;    
    color: gray;
    border-radius: 8px;
    width: 80%;
    height: 35px;
}

#getLoanButton{
    margin: 3px;
    background-color: lightgreen;    
    border-radius: 8px;
    width: 80%;
    height: 35px;
}

#repayLoanButton{
    margin: 3px;
    background-color: aquamarine;
    border-radius: 8px;
    width: 80%;
    height: 35px;
}

#buyPcButton{
    margin: 3px;
    background-color: lightblue;
    border-radius: 8px;
    width: 80%;
    height: 35px;
}

#laptopsDisplayDiv{
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
